.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 410px;
  width: 100%;
  margin: 0 auto;
  padding: 74px 0;
  box-sizing: border-box;
}

.profile__form {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 123px 0;
}

.profile__fields {
  margin: 0 0 220px 0;
  padding: 0;
  list-style: none;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile__field {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--basic-gray);
  min-height: 45px;
}

.profile__field:last-of-type {
  border: none;
}

.profile__label {
  display: block;
}

.profile__value {
  font-weight: 400;
  background-color: transparent;
  border: none;
  color: var(--basic-white);
  text-align: right;
}

.profile__edit-button {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-white);
  background-color: transparent;
  border: none;
  margin-bottom: 16px;
}

.profile__signout-button {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #EE3465;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 450px) {
  .profile {
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    height: 90vh;
  }

  .profile__fields {
    flex: 10;
  }
}
