.portfolio {
  max-width: var(--max-width);
  margin: 0 auto;
}

.portfolio__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-gray-light);
  margin: 0 0 50px 0;
}

.portfolio__list {
  padding: 0;
  list-style: none;
}

.portfolio__item {
  border-bottom: 1px solid var(--basic-gray);
}

.portfolio__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 20px 0 20px 0;
}

.portfolio__link-text {
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: var(--basic-white);
  margin: 0;
}

.portfolio__link-arrow {
  background-image: url(../../images/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 29px;
  height: 60px;
  display: block;
}
