.promo {
  background-color: var(--basic-gray-dark-ultra);
  max-width: 1200px;
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
  min-height: 416px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promo__title {
  font-size: 50px;
  line-height: 58px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 730px;
}
