.page {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: var(--basic-white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.active-element {
  cursor: pointer;
  transition: opacity .3s;
}

.active-element:hover {
  opacity: .8;
}

@media screen and (max-width: 1200px) {
  .page {
    --padding-m: 20px;
    --padding-l: 30px;
    --padding-xl: 50px;
    --max-width-wide: 96%;
  }
}

@media screen and (max-width: 750px) {
  .page {
    --padding-m: 14px;
    --padding-l: 14px;
    --padding-xl: 14px;
  }
}
