.page {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: var(--basic-white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.active-element {
  cursor: pointer;
  transition: opacity .3s;
}

.active-element:hover {
  opacity: .8;
}
