.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 13px;
  margin-top: 30px;
  margin-bottom: 49px;
}

.filter__element {
  position: relative;
  display: block;
  width: 34px;
  height: 14px;
  cursor: pointer;
}

.filter__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.filter__slider {
  position: absolute;
  top: 1;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 34px;
  height: 14px;
  background-color: var(--basic-gray);
  border-radius: 20px;
}

.filter__slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.filter__checkbox:checked + .filter__slider {
  background-color: var(--basic-accent);
}

.filter__checkbox:focus + .filter__slider {
  box-shadow: 0 0 1px var(--basic-accent);
}

.filter__checkbox:checked + .filter__slider:before {
  transform: translateX(16px);
}

.filter__caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  display: block;
}

