.about-project {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 110px var(--padding-xl);
  box-sizing: border-box;
}

.about-project__descriptions {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}

/* .about-project__description {} */

.about-project__description-title {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 70px 0 26px 0;
}

.about-project__description-text {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 110px 0;
}

.about-project__timelaps {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

/* .about-project__interval {} */

.about-project__interval_count_one {
  flex: 1;
  min-width: 100px;
}

.about-project__interval_count_four {
  flex: 4;
}

.about-project__interval-text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background-color: var(--basic-gray-dark);
  margin: 0 0 14px 0;
  padding: 9px 0;
}

.about-project__interval-text_accent {
  background-color: var(--basic-accent);
  color: var(--basic-dark);
}

.about-project__interval-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--basic-gray-light);
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .about-project__description-text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 750px) {
  .about-project__description-title {
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__descriptions {
    flex-direction: column;
    gap: 0;
  }

  .about-project__description-text {
    margin: 0;
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__timelaps {
    margin-top: 60px;
  }

  .about-project__interval-text {
    font-size: 11px;
    line-height: 13px;
  }

  .about-project__interval-title {
    font-size: 11px;
    line-height: 13px;
  }
}
