.techs {
  background-color: var(--basic-gray-dark-ultra);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px var(--padding-xl);
  box-sizing: border-box;
}

.techs__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 460px;
  margin: 90px 0 26px 0;
}

.techs__text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 460px;
  margin: 0 0 100px 0;
}

.techs__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.techs__item {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  padding: 21px 0;
  border-radius: 10px;
  background-color: var(--basic-gray-dark);
  min-width: 90px;
  min-height: 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 750px) {
  .techs {
    background-color: transparent;
  }

  .techs__title {
    font-size: 30px;
    line-height: 36px;
  }

  .techs__text {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 50px;
  }
}
