.form-field {
  display: flex;
  flex-direction: column;
}

.form-field__label {
  font-size: 10px;
  line-height: 12px;
  color: var(--basic-gray-light);
}

.form-field__input {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--basic-white);
  background-color: transparent;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid var(--basic-gray);
}

.form-field__input_type_error {
  border-color: var(--basic-error);
}

.form-field__input-error {
  min-height: 23px;
  font-size: 12px;
  line-height: 15px;
  color: var(--basic-error);
  opacity: 0;
}

.form-field__input-error_visible {
  opacity: 1;
}
